.figma-light-token {
  --border-brand: var(--brand-5);
  --border-dark-line-1: var(--secondary-4);
  --border-light-line-1: var(--secondary-2);
  --brand-0: #f5fbfb;
  --brand-1: #e1f4f4;
  --brand-10: #282f30;
  --brand-11: #1a2222;
  --brand-12: #131919;
  --brand-2: #cceded;
  --brand-3: #9edcdc;
  --brand-4: #6fd6d6;
  --brand-5: #00bfbf;
  --brand-6: #00a2a7;
  --brand-7: #007580;
  --brand-8: #335e64;
  --brand-9: #353f42;
  --button-black: var(--grey-10);
  --button-brand: var(--brand-5);
  --button-secondary: var(--function-yellow-5);
  --button-unchecked-1: var(--brand-0);
  --button-weak-button: var(--brand-0);
  --button-weak-button-hover: var(--brand-1);
  --button-white: var(--grey-0);
  --function-blue-1: #edf3ff;
  --function-blue-10: #002777;
  --function-blue-2: #d4e2ff;
  --function-blue-3: #b2ccff;
  --function-blue-4: #8fb4ff;
  --function-blue-5: #6d9dff;
  --function-blue-6: #4d88ff;
  --function-blue-7: #275fcf;
  --function-blue-8: #0f45af;
  --function-blue-9: #0d3584;
  --function-green-1: #e8f8ed;
  --function-green-10: #095322;
  --function-green-2: #c7eed4;
  --function-green-3: #9ae0b2;
  --function-green-4: #6bd28e;
  --function-green-5: #3ec56b;
  --function-green-6: #14b84b;
  --function-green-7: #119c40;
  --function-green-8: #0e8335;
  --function-green-9: #0b692b;
  --function-red-1: #fff0f0;
  --function-red-10: #550505;
  --function-red-2: #ffdada;
  --function-red-3: #ffb3b3;
  --function-red-4: #ff9494;
  --function-red-5: #ff6d6d;
  --function-red-6: #ef4d4d;
  --function-red-7: #d93636;
  --function-red-8: #b62020;
  --function-red-9: #8e1111;
  --function-yellow-1: #fff7e6;
  --function-yellow-10: #733300;
  --function-yellow-2: #ffebc2;
  --function-yellow-3: #ffda91;
  --function-yellow-4: #ffc95e;
  --function-yellow-5: #ffb92e;
  --function-yellow-6: #ffaa00;
  --function-yellow-7: #ea8c00;
  --function-yellow-8: #cb7700;
  --function-yellow-9: #b45700;
  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-10: #000000;
  --grey-2: #f5f5f5;
  --grey-3: #f0f0f0;
  --grey-4: #d9d9d9;
  --grey-5: #bfbfbf;
  --grey-6: #8c8c8c;
  --grey-7: #595959;
  --grey-8: #333333;
  --grey-9: #1f1f1f;
  --icon-black: var(--grey-10);
  --icon-brand: var(--brand-5);
  --icon-grey: var(--secondary-3);
  --icon-white: var(--grey-0);
  --secondary-1: #f6f8f8;
  --secondary-2: #e6eded;
  --secondary-3: #697e7e;
  --secondary-4: #b0bbbb;
  --solid-1: var(--brand-0);
  --solid-2: var(--secondary-2);
  --solid-3: var(--brand-1);
  --solid-input-box1: var(--secondary-1);
  --solid-bg: var(--grey-0);
  --solid-brand: var(--brand-5);
  --solid-chat-bubble: var(--brand-0);
  --solid-hint: var(--grey-3);
  --solid-left-bar: var(--brand-0);
  --solid-list-hover: var(--brand-1);
  --solid-list-selected: var(--grey-0);
  --solid-new-chat-bg: var(--brand-1);
  --solid-new-chat-bg-hover: var(--brand-2);
  --solid-search: var(--grey-0);
  --solid-slider-bar: var(--secondary-2);
  --solid-small-pop: var(--grey-0);
  --solid-toast-tips: #000000e5;
  --solid-white-card: var(--grey-0);
  --text-black: var(--grey-10);
  --text-brand: var(--brand-5);
  --text-main-body: var(--secondary-3);
  --text-white: var(--grey-0);
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-48: 3rem;
  --radius-64: 4rem;
  --radius-128: 8rem;
  --radius-256: 16rem;
  --spacing-0: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-256: 16rem;
}
.figma-dark-token {
  --border-brand: var(--brand-5);
  --border-dark-line-1: var(--secondary-3);
  --border-light-line-1: var(--brand-9);
  --brand-0: #f5fbfb;
  --brand-1: #e1f4f4;
  --brand-10: #282f30;
  --brand-11: #1a2222;
  --brand-12: #131919;
  --brand-2: #cceded;
  --brand-3: #9edcdc;
  --brand-4: #6fd6d6;
  --brand-5: #00bfbf;
  --brand-6: #00a2a7;
  --brand-7: #007580;
  --brand-8: #335e64;
  --brand-9: #353f42;
  --button-black: var(--grey-0);
  --button-brand: var(--brand-5);
  --button-secondary: var(--function-yellow-5);
  --button-unchecked-1: var(--brand-9);
  --button-weak-button: var(--brand-10);
  --button-weak-button-hover: var(--brand-9);
  --button-white: var(--brand-9);
  --function-blue-1: #edf3ff;
  --function-blue-10: #002777;
  --function-blue-2: #d4e2ff;
  --function-blue-3: #b2ccff;
  --function-blue-4: #8fb4ff;
  --function-blue-5: #6d9dff;
  --function-blue-6: #4d88ff;
  --function-blue-7: #275fcf;
  --function-blue-8: #0f45af;
  --function-blue-9: #0d3584;
  --function-green-1: #e8f8ed;
  --function-green-10: #095322;
  --function-green-2: #c7eed4;
  --function-green-3: #9ae0b2;
  --function-green-4: #6bd28e;
  --function-green-5: #3ec56b;
  --function-green-6: #14b84b;
  --function-green-7: #119c40;
  --function-green-8: #0e8335;
  --function-green-9: #0b692b;
  --function-red-1: #fff0f0;
  --function-red-10: #550505;
  --function-red-2: #ffdada;
  --function-red-3: #ffb3b3;
  --function-red-4: #ff9494;
  --function-red-5: #ff6d6d;
  --function-red-6: #ef4d4d;
  --function-red-7: #d93636;
  --function-red-8: #b62020;
  --function-red-9: #8e1111;
  --function-yellow-1: #fff7e6;
  --function-yellow-10: #733300;
  --function-yellow-2: #ffebc2;
  --function-yellow-3: #ffda91;
  --function-yellow-4: #ffc95e;
  --function-yellow-5: #ffb92e;
  --function-yellow-6: #ffaa00;
  --function-yellow-7: #ea8c00;
  --function-yellow-8: #cb7700;
  --function-yellow-9: #b45700;
  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-10: #000000;
  --grey-2: #f5f5f5;
  --grey-3: #f0f0f0;
  --grey-4: #d9d9d9;
  --grey-5: #bfbfbf;
  --grey-6: #8c8c8c;
  --grey-7: #595959;
  --grey-8: #333333;
  --grey-9: #1f1f1f;
  --icon-black: var(--grey-0);
  --icon-brand: var(--brand-5);
  --icon-grey: var(--secondary-4);
  --icon-white: var(--grey-0);
  --secondary-1: #f6f8f8;
  --secondary-2: #e6eded;
  --secondary-3: #697e7e;
  --secondary-4: #b0bbbb;
  --solid-1: var(--brand-10);
  --solid-2: var(--brand-11);
  --solid-3: var(--brand-12);
  --solid-input-box1: var(--brand-10);
  --solid-bg: var(--brand-12);
  --solid-brand: var(--brand-5);
  --solid-chat-bubble: var(--brand-10);
  --solid-hint: var(--brand-8);
  --solid-left-bar: var(--brand-10);
  --solid-list-hover: var(--brand-11);
  --solid-list-selected: var(--brand-9);
  --solid-new-chat-bg: var(--brand-9);
  --solid-new-chat-bg-hover: var(--brand-11);
  --solid-search: var(--brand-10);
  --solid-slider-bar: var(--brand-10);
  --solid-small-pop: var(--brand-12);
  --solid-toast-tips: var(--brand-9);
  --solid-white-card: var(--brand-11);
  --text-black: var(--grey-0);
  --text-brand: var(--brand-5);
  --text-main-body: var(--secondary-4);
  --text-white: var(--grey-0);
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-48: 3rem;
  --radius-64: 4rem;
  --radius-128: 8rem;
  --radius-256: 16rem;
  --spacing-0: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-256: 16rem;
}
.custom-light-token,
.custom-dark-token,
.custom-token {
  --demo: var(--grey-0);
}
.fontOxanium {
  font-family: Oxanium, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-style: normal;
}
.font-default,
.font-number {
  font-family: Ubuntu, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-style: normal;
}
.font12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.font14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.font16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.font20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.font24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.font32 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
.font28 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
html body .ant-skeleton {
  width: fit-content;
}
html body .ant-skeleton .ant-skeleton-content .ant-skeleton-title {
  height: 16px;
  background: var(
    --skeleton,
    linear-gradient(
      90deg,
      rgba(176, 212, 212, 0.1) 0%,
      rgba(107, 147, 147, 0.1) 100%
    )
  );
  background-size: 400% 100%;
  margin: 0;
}
html body .ant-skeleton .ant-skeleton-avatar {
  background: var(
    --skeleton,
    linear-gradient(
      90deg,
      rgba(176, 212, 212, 0.1) 0%,
      rgba(107, 147, 147, 0.1) 100%
    )
  ) !important;
  background-size: 400% 100% !important;
  margin: 0;
}
@side-menu-bg: var (--side-menu-bg);
.Toastify__toast-container .Toastify__toast {
  width: 320px;
  padding: var(--spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-8, 8px);
  border-radius: var(--spacing-12, 12px);
  background: var(--solid-white-card, #fff);
  box-shadow: 0 5px 20px -5px #0000001a;
}
.Toastify__toast-container .Toastify__toast .Toastify__close-button {
  position: unset;
}
.Toastify__toast-container .Toastify__toast .Toastify__progress-bar--wrp {
  visibility: hidden;
}
.light-theme {
  color-scheme: light;
  --border-brand: var(--brand-5);
  --border-dark-line-1: var(--secondary-4);
  --border-light-line-1: var(--secondary-2);
  --brand-0: #f5fbfb;
  --brand-1: #e1f4f4;
  --brand-10: #282f30;
  --brand-11: #1a2222;
  --brand-12: #131919;
  --brand-2: #cceded;
  --brand-3: #9edcdc;
  --brand-4: #6fd6d6;
  --brand-5: #00bfbf;
  --brand-6: #00a2a7;
  --brand-7: #007580;
  --brand-8: #335e64;
  --brand-9: #353f42;
  --button-black: var(--grey-10);
  --button-brand: var(--brand-5);
  --button-secondary: var(--function-yellow-5);
  --button-unchecked-1: var(--brand-0);
  --button-weak-button: var(--brand-0);
  --button-weak-button-hover: var(--brand-1);
  --button-white: var(--grey-0);
  --function-blue-1: #edf3ff;
  --function-blue-10: #002777;
  --function-blue-2: #d4e2ff;
  --function-blue-3: #b2ccff;
  --function-blue-4: #8fb4ff;
  --function-blue-5: #6d9dff;
  --function-blue-6: #4d88ff;
  --function-blue-7: #275fcf;
  --function-blue-8: #0f45af;
  --function-blue-9: #0d3584;
  --function-green-1: #e8f8ed;
  --function-green-10: #095322;
  --function-green-2: #c7eed4;
  --function-green-3: #9ae0b2;
  --function-green-4: #6bd28e;
  --function-green-5: #3ec56b;
  --function-green-6: #14b84b;
  --function-green-7: #119c40;
  --function-green-8: #0e8335;
  --function-green-9: #0b692b;
  --function-red-1: #fff0f0;
  --function-red-10: #550505;
  --function-red-2: #ffdada;
  --function-red-3: #ffb3b3;
  --function-red-4: #ff9494;
  --function-red-5: #ff6d6d;
  --function-red-6: #ef4d4d;
  --function-red-7: #d93636;
  --function-red-8: #b62020;
  --function-red-9: #8e1111;
  --function-yellow-1: #fff7e6;
  --function-yellow-10: #733300;
  --function-yellow-2: #ffebc2;
  --function-yellow-3: #ffda91;
  --function-yellow-4: #ffc95e;
  --function-yellow-5: #ffb92e;
  --function-yellow-6: #ffaa00;
  --function-yellow-7: #ea8c00;
  --function-yellow-8: #cb7700;
  --function-yellow-9: #b45700;
  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-10: #000000;
  --grey-2: #f5f5f5;
  --grey-3: #f0f0f0;
  --grey-4: #d9d9d9;
  --grey-5: #bfbfbf;
  --grey-6: #8c8c8c;
  --grey-7: #595959;
  --grey-8: #333333;
  --grey-9: #1f1f1f;
  --icon-black: var(--grey-10);
  --icon-brand: var(--brand-5);
  --icon-grey: var(--secondary-3);
  --icon-white: var(--grey-0);
  --secondary-1: #f6f8f8;
  --secondary-2: #e6eded;
  --secondary-3: #697e7e;
  --secondary-4: #b0bbbb;
  --solid-1: var(--brand-0);
  --solid-2: var(--secondary-2);
  --solid-3: var(--brand-1);
  --solid-input-box1: var(--secondary-1);
  --solid-bg: var(--grey-0);
  --solid-brand: var(--brand-5);
  --solid-chat-bubble: var(--brand-0);
  --solid-hint: var(--grey-3);
  --solid-left-bar: var(--brand-0);
  --solid-list-hover: var(--brand-1);
  --solid-list-selected: var(--grey-0);
  --solid-new-chat-bg: var(--brand-1);
  --solid-new-chat-bg-hover: var(--brand-2);
  --solid-search: var(--grey-0);
  --solid-slider-bar: var(--secondary-2);
  --solid-small-pop: var(--grey-0);
  --solid-toast-tips: #000000e5;
  --solid-white-card: var(--grey-0);
  --text-black: var(--grey-10);
  --text-brand: var(--brand-5);
  --text-main-body: var(--secondary-3);
  --text-white: var(--grey-0);
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-48: 3rem;
  --radius-64: 4rem;
  --radius-128: 8rem;
  --radius-256: 16rem;
  --spacing-0: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-256: 16rem;
  --demo: var(--grey-0);
}
.dark-theme {
  color-scheme: dark;
  --border-brand: var(--brand-5);
  --border-dark-line-1: var(--secondary-3);
  --border-light-line-1: var(--brand-9);
  --brand-0: #f5fbfb;
  --brand-1: #e1f4f4;
  --brand-10: #282f30;
  --brand-11: #1a2222;
  --brand-12: #131919;
  --brand-2: #cceded;
  --brand-3: #9edcdc;
  --brand-4: #6fd6d6;
  --brand-5: #00bfbf;
  --brand-6: #00a2a7;
  --brand-7: #007580;
  --brand-8: #335e64;
  --brand-9: #353f42;
  --button-black: var(--grey-0);
  --button-brand: var(--brand-5);
  --button-secondary: var(--function-yellow-5);
  --button-unchecked-1: var(--brand-9);
  --button-weak-button: var(--brand-10);
  --button-weak-button-hover: var(--brand-9);
  --button-white: var(--brand-9);
  --function-blue-1: #edf3ff;
  --function-blue-10: #002777;
  --function-blue-2: #d4e2ff;
  --function-blue-3: #b2ccff;
  --function-blue-4: #8fb4ff;
  --function-blue-5: #6d9dff;
  --function-blue-6: #4d88ff;
  --function-blue-7: #275fcf;
  --function-blue-8: #0f45af;
  --function-blue-9: #0d3584;
  --function-green-1: #e8f8ed;
  --function-green-10: #095322;
  --function-green-2: #c7eed4;
  --function-green-3: #9ae0b2;
  --function-green-4: #6bd28e;
  --function-green-5: #3ec56b;
  --function-green-6: #14b84b;
  --function-green-7: #119c40;
  --function-green-8: #0e8335;
  --function-green-9: #0b692b;
  --function-red-1: #fff0f0;
  --function-red-10: #550505;
  --function-red-2: #ffdada;
  --function-red-3: #ffb3b3;
  --function-red-4: #ff9494;
  --function-red-5: #ff6d6d;
  --function-red-6: #ef4d4d;
  --function-red-7: #d93636;
  --function-red-8: #b62020;
  --function-red-9: #8e1111;
  --function-yellow-1: #fff7e6;
  --function-yellow-10: #733300;
  --function-yellow-2: #ffebc2;
  --function-yellow-3: #ffda91;
  --function-yellow-4: #ffc95e;
  --function-yellow-5: #ffb92e;
  --function-yellow-6: #ffaa00;
  --function-yellow-7: #ea8c00;
  --function-yellow-8: #cb7700;
  --function-yellow-9: #b45700;
  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-10: #000000;
  --grey-2: #f5f5f5;
  --grey-3: #f0f0f0;
  --grey-4: #d9d9d9;
  --grey-5: #bfbfbf;
  --grey-6: #8c8c8c;
  --grey-7: #595959;
  --grey-8: #333333;
  --grey-9: #1f1f1f;
  --icon-black: var(--grey-0);
  --icon-brand: var(--brand-5);
  --icon-grey: var(--secondary-4);
  --icon-white: var(--grey-0);
  --secondary-1: #f6f8f8;
  --secondary-2: #e6eded;
  --secondary-3: #697e7e;
  --secondary-4: #b0bbbb;
  --solid-1: var(--brand-10);
  --solid-2: var(--brand-11);
  --solid-3: var(--brand-12);
  --solid-input-box1: var(--brand-10);
  --solid-bg: var(--brand-12);
  --solid-brand: var(--brand-5);
  --solid-chat-bubble: var(--brand-10);
  --solid-hint: var(--brand-8);
  --solid-left-bar: var(--brand-10);
  --solid-list-hover: var(--brand-11);
  --solid-list-selected: var(--brand-9);
  --solid-new-chat-bg: var(--brand-9);
  --solid-new-chat-bg-hover: var(--brand-11);
  --solid-search: var(--brand-10);
  --solid-slider-bar: var(--brand-10);
  --solid-small-pop: var(--brand-12);
  --solid-toast-tips: var(--brand-9);
  --solid-white-card: var(--brand-11);
  --text-black: var(--grey-0);
  --text-brand: var(--brand-5);
  --text-main-body: var(--secondary-4);
  --text-white: var(--grey-0);
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-48: 3rem;
  --radius-64: 4rem;
  --radius-128: 8rem;
  --radius-256: 16rem;
  --spacing-0: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-256: 16rem;
  --demo: var(--grey-0);
}
:root {
  color-scheme: dark;
  --border-dark-line-1: var(--secondary-3);
  --border-light-line-1: var(--brand-9);
  --button-black: var(--grey-0);
  --button-unchecked-1: var(--brand-9);
  --button-weak-button: var(--brand-10);
  --button-weak-button-hover: var(--brand-9);
  --button-white: var(--brand-9);
  --icon-black: var(--grey-0);
  --icon-grey: var(--secondary-4);
  --solid-1: var(--brand-10);
  --solid-2: var(--brand-11);
  --solid-3: var(--brand-12);
  --solid-input-box1: var(--brand-10);
  --solid-bg: var(--brand-12);
  --solid-chat-bubble: var(--brand-10);
  --solid-hint: var(--brand-8);
  --solid-left-bar: var(--brand-10);
  --solid-list-hover: var(--brand-11);
  --solid-list-selected: var(--brand-9);
  --solid-new-chat-bg: var(--brand-9);
  --solid-new-chat-bg-hover: var(--brand-11);
  --solid-search: var(--brand-10);
  --solid-slider-bar: var(--brand-10);
  --solid-small-pop: var(--brand-12);
  --solid-toast-tips: var(--brand-9);
  --solid-white-card: var(--brand-11);
  --text-black: var(--grey-0);
  --text-main-body: var(--secondary-4);
  color-scheme: light;
  --border-brand: var(--brand-5);
  --border-dark-line-1: var(--secondary-4);
  --border-light-line-1: var(--secondary-2);
  --brand-0: #f5fbfb;
  --brand-1: #e1f4f4;
  --brand-10: #282f30;
  --brand-11: #1a2222;
  --brand-12: #131919;
  --brand-2: #cceded;
  --brand-3: #9edcdc;
  --brand-4: #6fd6d6;
  --brand-5: #00bfbf;
  --brand-6: #00a2a7;
  --brand-7: #007580;
  --brand-8: #335e64;
  --brand-9: #353f42;
  --button-black: var(--grey-10);
  --button-brand: var(--brand-5);
  --button-secondary: var(--function-yellow-5);
  --button-unchecked-1: var(--brand-0);
  --button-weak-button: var(--brand-0);
  --button-weak-button-hover: var(--brand-1);
  --button-white: var(--grey-0);
  --function-blue-1: #edf3ff;
  --function-blue-10: #002777;
  --function-blue-2: #d4e2ff;
  --function-blue-3: #b2ccff;
  --function-blue-4: #8fb4ff;
  --function-blue-5: #6d9dff;
  --function-blue-6: #4d88ff;
  --function-blue-7: #275fcf;
  --function-blue-8: #0f45af;
  --function-blue-9: #0d3584;
  --function-green-1: #e8f8ed;
  --function-green-10: #095322;
  --function-green-2: #c7eed4;
  --function-green-3: #9ae0b2;
  --function-green-4: #6bd28e;
  --function-green-5: #3ec56b;
  --function-green-6: #14b84b;
  --function-green-7: #119c40;
  --function-green-8: #0e8335;
  --function-green-9: #0b692b;
  --function-red-1: #fff0f0;
  --function-red-10: #550505;
  --function-red-2: #ffdada;
  --function-red-3: #ffb3b3;
  --function-red-4: #ff9494;
  --function-red-5: #ff6d6d;
  --function-red-6: #ef4d4d;
  --function-red-7: #d93636;
  --function-red-8: #b62020;
  --function-red-9: #8e1111;
  --function-yellow-1: #fff7e6;
  --function-yellow-10: #733300;
  --function-yellow-2: #ffebc2;
  --function-yellow-3: #ffda91;
  --function-yellow-4: #ffc95e;
  --function-yellow-5: #ffb92e;
  --function-yellow-6: #ffaa00;
  --function-yellow-7: #ea8c00;
  --function-yellow-8: #cb7700;
  --function-yellow-9: #b45700;
  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-10: #000000;
  --grey-2: #f5f5f5;
  --grey-3: #f0f0f0;
  --grey-4: #d9d9d9;
  --grey-5: #bfbfbf;
  --grey-6: #8c8c8c;
  --grey-7: #595959;
  --grey-8: #333333;
  --grey-9: #1f1f1f;
  --icon-black: var(--grey-10);
  --icon-brand: var(--brand-5);
  --icon-grey: var(--secondary-3);
  --icon-white: var(--grey-0);
  --secondary-1: #f6f8f8;
  --secondary-2: #e6eded;
  --secondary-3: #697e7e;
  --secondary-4: #b0bbbb;
  --solid-1: var(--brand-0);
  --solid-2: var(--secondary-2);
  --solid-3: var(--brand-1);
  --solid-input-box1: var(--secondary-1);
  --solid-bg: var(--grey-0);
  --solid-brand: var(--brand-5);
  --solid-chat-bubble: var(--brand-0);
  --solid-hint: var(--grey-3);
  --solid-left-bar: var(--brand-0);
  --solid-list-hover: var(--brand-1);
  --solid-list-selected: var(--grey-0);
  --solid-new-chat-bg: var(--brand-1);
  --solid-new-chat-bg-hover: var(--brand-2);
  --solid-search: var(--grey-0);
  --solid-slider-bar: var(--secondary-2);
  --solid-small-pop: var(--grey-0);
  --solid-toast-tips: #000000e5;
  --solid-white-card: var(--grey-0);
  --text-black: var(--grey-10);
  --text-brand: var(--brand-5);
  --text-main-body: var(--secondary-3);
  --text-white: var(--grey-0);
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-48: 3rem;
  --radius-64: 4rem;
  --radius-128: 8rem;
  --radius-256: 16rem;
  --spacing-0: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-256: 16rem;
  --demo: var(--grey-0);
  font-family: ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
html {
  box-sizing: border-box;
}
html body {
  overflow: hidden;
  margin: unset;
}
html body dl,
html body dt,
html body dd {
  margin: 0;
}
html body dl {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
html body a:hover {
  color: var(--text-brand);
}
html body .text-danger {
  color: var(--function-red-6);
}
html body .text-success {
  color: var(--function-green-6);
}
html[data-theme="light-theme"] {
  color-scheme: light;
  --border-brand: var(--brand-5);
  --border-dark-line-1: var(--secondary-4);
  --border-light-line-1: var(--secondary-2);
  --brand-0: #f5fbfb;
  --brand-1: #e1f4f4;
  --brand-10: #282f30;
  --brand-11: #1a2222;
  --brand-12: #131919;
  --brand-2: #cceded;
  --brand-3: #9edcdc;
  --brand-4: #6fd6d6;
  --brand-5: #00bfbf;
  --brand-6: #00a2a7;
  --brand-7: #007580;
  --brand-8: #335e64;
  --brand-9: #353f42;
  --button-black: var(--grey-10);
  --button-brand: var(--brand-5);
  --button-secondary: var(--function-yellow-5);
  --button-unchecked-1: var(--brand-0);
  --button-weak-button: var(--brand-0);
  --button-weak-button-hover: var(--brand-1);
  --button-white: var(--grey-0);
  --function-blue-1: #edf3ff;
  --function-blue-10: #002777;
  --function-blue-2: #d4e2ff;
  --function-blue-3: #b2ccff;
  --function-blue-4: #8fb4ff;
  --function-blue-5: #6d9dff;
  --function-blue-6: #4d88ff;
  --function-blue-7: #275fcf;
  --function-blue-8: #0f45af;
  --function-blue-9: #0d3584;
  --function-green-1: #e8f8ed;
  --function-green-10: #095322;
  --function-green-2: #c7eed4;
  --function-green-3: #9ae0b2;
  --function-green-4: #6bd28e;
  --function-green-5: #3ec56b;
  --function-green-6: #14b84b;
  --function-green-7: #119c40;
  --function-green-8: #0e8335;
  --function-green-9: #0b692b;
  --function-red-1: #fff0f0;
  --function-red-10: #550505;
  --function-red-2: #ffdada;
  --function-red-3: #ffb3b3;
  --function-red-4: #ff9494;
  --function-red-5: #ff6d6d;
  --function-red-6: #ef4d4d;
  --function-red-7: #d93636;
  --function-red-8: #b62020;
  --function-red-9: #8e1111;
  --function-yellow-1: #fff7e6;
  --function-yellow-10: #733300;
  --function-yellow-2: #ffebc2;
  --function-yellow-3: #ffda91;
  --function-yellow-4: #ffc95e;
  --function-yellow-5: #ffb92e;
  --function-yellow-6: #ffaa00;
  --function-yellow-7: #ea8c00;
  --function-yellow-8: #cb7700;
  --function-yellow-9: #b45700;
  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-10: #000000;
  --grey-2: #f5f5f5;
  --grey-3: #f0f0f0;
  --grey-4: #d9d9d9;
  --grey-5: #bfbfbf;
  --grey-6: #8c8c8c;
  --grey-7: #595959;
  --grey-8: #333333;
  --grey-9: #1f1f1f;
  --icon-black: var(--grey-10);
  --icon-brand: var(--brand-5);
  --icon-grey: var(--secondary-3);
  --icon-white: var(--grey-0);
  --secondary-1: #f6f8f8;
  --secondary-2: #e6eded;
  --secondary-3: #697e7e;
  --secondary-4: #b0bbbb;
  --solid-1: var(--brand-0);
  --solid-2: var(--secondary-2);
  --solid-3: var(--brand-1);
  --solid-input-box1: var(--secondary-1);
  --solid-bg: var(--grey-0);
  --solid-brand: var(--brand-5);
  --solid-chat-bubble: var(--brand-0);
  --solid-hint: var(--grey-3);
  --solid-left-bar: var(--brand-0);
  --solid-list-hover: var(--brand-1);
  --solid-list-selected: var(--grey-0);
  --solid-new-chat-bg: var(--brand-1);
  --solid-new-chat-bg-hover: var(--brand-2);
  --solid-search: var(--grey-0);
  --solid-slider-bar: var(--secondary-2);
  --solid-small-pop: var(--grey-0);
  --solid-toast-tips: #000000e5;
  --solid-white-card: var(--grey-0);
  --text-black: var(--grey-10);
  --text-brand: var(--brand-5);
  --text-main-body: var(--secondary-3);
  --text-white: var(--grey-0);
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-48: 3rem;
  --radius-64: 4rem;
  --radius-128: 8rem;
  --radius-256: 16rem;
  --spacing-0: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-256: 16rem;
  --demo: var(--grey-0);
}
html[data-theme="dark-theme"] {
  color-scheme: dark;
  --border-brand: var(--brand-5);
  --border-dark-line-1: var(--secondary-3);
  --border-light-line-1: var(--brand-9);
  --brand-0: #f5fbfb;
  --brand-1: #e1f4f4;
  --brand-10: #282f30;
  --brand-11: #1a2222;
  --brand-12: #131919;
  --brand-2: #cceded;
  --brand-3: #9edcdc;
  --brand-4: #6fd6d6;
  --brand-5: #00bfbf;
  --brand-6: #00a2a7;
  --brand-7: #007580;
  --brand-8: #335e64;
  --brand-9: #353f42;
  --button-black: var(--grey-0);
  --button-brand: var(--brand-5);
  --button-secondary: var(--function-yellow-5);
  --button-unchecked-1: var(--brand-9);
  --button-weak-button: var(--brand-10);
  --button-weak-button-hover: var(--brand-9);
  --button-white: var(--brand-9);
  --function-blue-1: #edf3ff;
  --function-blue-10: #002777;
  --function-blue-2: #d4e2ff;
  --function-blue-3: #b2ccff;
  --function-blue-4: #8fb4ff;
  --function-blue-5: #6d9dff;
  --function-blue-6: #4d88ff;
  --function-blue-7: #275fcf;
  --function-blue-8: #0f45af;
  --function-blue-9: #0d3584;
  --function-green-1: #e8f8ed;
  --function-green-10: #095322;
  --function-green-2: #c7eed4;
  --function-green-3: #9ae0b2;
  --function-green-4: #6bd28e;
  --function-green-5: #3ec56b;
  --function-green-6: #14b84b;
  --function-green-7: #119c40;
  --function-green-8: #0e8335;
  --function-green-9: #0b692b;
  --function-red-1: #fff0f0;
  --function-red-10: #550505;
  --function-red-2: #ffdada;
  --function-red-3: #ffb3b3;
  --function-red-4: #ff9494;
  --function-red-5: #ff6d6d;
  --function-red-6: #ef4d4d;
  --function-red-7: #d93636;
  --function-red-8: #b62020;
  --function-red-9: #8e1111;
  --function-yellow-1: #fff7e6;
  --function-yellow-10: #733300;
  --function-yellow-2: #ffebc2;
  --function-yellow-3: #ffda91;
  --function-yellow-4: #ffc95e;
  --function-yellow-5: #ffb92e;
  --function-yellow-6: #ffaa00;
  --function-yellow-7: #ea8c00;
  --function-yellow-8: #cb7700;
  --function-yellow-9: #b45700;
  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-10: #000000;
  --grey-2: #f5f5f5;
  --grey-3: #f0f0f0;
  --grey-4: #d9d9d9;
  --grey-5: #bfbfbf;
  --grey-6: #8c8c8c;
  --grey-7: #595959;
  --grey-8: #333333;
  --grey-9: #1f1f1f;
  --icon-black: var(--grey-0);
  --icon-brand: var(--brand-5);
  --icon-grey: var(--secondary-4);
  --icon-white: var(--grey-0);
  --secondary-1: #f6f8f8;
  --secondary-2: #e6eded;
  --secondary-3: #697e7e;
  --secondary-4: #b0bbbb;
  --solid-1: var(--brand-10);
  --solid-2: var(--brand-11);
  --solid-3: var(--brand-12);
  --solid-input-box1: var(--brand-10);
  --solid-bg: var(--brand-12);
  --solid-brand: var(--brand-5);
  --solid-chat-bubble: var(--brand-10);
  --solid-hint: var(--brand-8);
  --solid-left-bar: var(--brand-10);
  --solid-list-hover: var(--brand-11);
  --solid-list-selected: var(--brand-9);
  --solid-new-chat-bg: var(--brand-9);
  --solid-new-chat-bg-hover: var(--brand-11);
  --solid-search: var(--brand-10);
  --solid-slider-bar: var(--brand-10);
  --solid-small-pop: var(--brand-12);
  --solid-toast-tips: var(--brand-9);
  --solid-white-card: var(--brand-11);
  --text-black: var(--grey-0);
  --text-brand: var(--brand-5);
  --text-main-body: var(--secondary-4);
  --text-white: var(--grey-0);
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-48: 3rem;
  --radius-64: 4rem;
  --radius-128: 8rem;
  --radius-256: 16rem;
  --spacing-0: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-256: 16rem;
  --demo: var(--grey-0);
}
.syn-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.syn-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.syn-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
.syn-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background: var(--solid-slider-bar, #e6eded);
}
.syn-icon path {
  fill: var(--text-main-body);
  transition: fill 0.3s ease;
}
.syn-icon.arrow-circle rect:first-of-type {
  fill: var(--text-white);
}
.syn-icon.arrow-circle rect:last-of-type {
  stroke: var(--text-main-body);
  fill: var(--icon-black);
}
.syn-icon:hover path {
  fill: var(--text-black);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.identicon {
  position: relative;
}
.identicon > div {
  height: 100%;
  width: 100%;
}
.syn-power-by-syn-futures {
  display: flex;
  align-items: center;
  color: var(--text-main-body, #656f6f);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  gap: 4px;
}
.syn-power-by-syn-futures a {
  color: var(--text-brand, #00bfbf);
  text-decoration: unset;
  display: flex;
  align-items: center;
}
